header {
background-color: #834892;
color: #98ff98;
text-align: center;
}

main {
    background-color: lightgray;
    padding: 1em;
    
}

body {
    margin: 0;
    background-image: url('./record.png');
    background-repeat: repeat;
}